@font-face {
    font-family: "DoHyeon";
    src: url("../fonts/Do_Hyeon/DoHyeon-Regular.ttf");
}
.date-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px rgb(102, 90, 90) solid;
    
}
.date-button{
    border: none;
    font-family: "DoHyeon";
    font-size: 15pt;
    width: 145px;
    height: 35px;
    color: aliceblue;
    background-color: rgba(226, 118, 46, 0.733);
    cursor: pointer;
    margin: 0 40px;
    box-shadow: 0 0 10px rgb(0 0 0 / 64%);

}

.big-span{
    font-size: 30pt;
}
.list-span{
    font-size: 19pt;
}
.calendar{
    margin-top: 15px;
}
.items-wrapper{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 127, 80, 0);
    border-radius: 10px;
    margin:0 20px;
   
}
.icon{
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
}
.goals-wrapper{
    background-image: url("../img/wallpaper_background.jpg");
}
