body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/body-back.jpg');
    background-size: cover;
}
.content-wrapper{
    width: 89%;
    height: 800px;
    background-image: url('../img/dark-background2.jpg');
    background-size: cover;
    border-radius: 30px;
    margin-top:58px ;
    box-shadow: 0 0 30px rgb(0 0 0 / 64%);
    overflow: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.logo-text{
    font-family:sans-serif;
    font-size: 20pt;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 140px;
    height: 60px;
    color:white;
    text-decoration: none;
    user-select: none;
    margin-left: 20px;
}
.header-logo:hover{
    background-color: rgba(33, 4, 61, 0.6);
    border-radius: 10px;
}
.buttons{
    margin-left:auto ;
    margin-right: 50px;
}
.header-button{
    font-size:17pt;
    background: none;
    border:none;
    margin-right: 35px;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
}
.header-button:hover{
    background-color: rgba(33, 4, 61, 0.6);
    cursor: pointer;
    border-radius: 10px;
}
.menu{
    width: 24px;
    height: 23px;
    background:none;
    border:none;
    background-image: url('../img/menu.png');
    background-size: cover;
}
.menu:hover{
    background-color: rgba(33, 4, 61, 0.6);
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    font-family: sans-serif;
}

.content-text{
    font-size:30pt;
    
    margin-top: 77px;

   
}
.content-text1{
    margin-top: 9px;
    font-size:17pt;

   
}
.content-button{
    margin-top: 37px;
    width: 163px;
    height: 41px;
    background-color: rgba(226, 118, 46, 0.733);
    border: none;
    color: white;
    font-size: 13pt;
    font-family: sans-serif;
    padding-bottom: 6px;
}